{% extends "base.html" %}

{% block title %}
Edit Category
{% endblock %}

{% block content %}

<h2>Edit Category</h2>

<form method="POST">

    <div class="mb-3">

        <label class="form-label">

            Category Name

        </label>

        <input
            type="text"
            class="form-control"
            name="name"
            value="{{ category.name }}"
            required>

    </div>

    <button class="btn btn-warning">

        Update

    </button>

    <a
        href="{{ url_for('categories.category_list') }}"
        class="btn btn-secondary">

        Back

    </a>

</form>

{% endblock %}
